In [312]:
import pandas as pd

path_to_file = "C:/Users/souri/Desktop/tryco2/Data"

df = pd.read_csv(path_to_file + "/owid-co2-data.csv")

pd.set_option('display.max_columns', None)

df.sample(5)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_growth_prct,co2_including_luc_per_capita,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_capita,co2_per_gdp,co2_per_unit_energy,coal_co2,coal_co2_per_capita,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,cumulative_cement_co2,cumulative_co2,cumulative_co2_including_luc,cumulative_coal_co2,cumulative_flaring_co2,cumulative_gas_co2,cumulative_luc_co2,cumulative_oil_co2,cumulative_other_co2,energy_per_capita,energy_per_gdp,flaring_co2,flaring_co2_per_capita,gas_co2,gas_co2_per_capita,ghg_excluding_lucf_per_capita,ghg_per_capita,land_use_change_co2,land_use_change_co2_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,oil_co2,oil_co2_per_capita,other_co2_per_capita,other_industry_co2,primary_energy_consumption,share_global_cement_co2,share_global_co2,share_global_co2_including_luc,share_global_coal_co2,share_global_cumulative_cement_co2,share_global_cumulative_co2,share_global_cumulative_co2_including_luc,share_global_cumulative_coal_co2,share_global_cumulative_flaring_co2,share_global_cumulative_gas_co2,share_global_cumulative_luc_co2,share_global_cumulative_oil_co2,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
41169,Singapore,1829,SGP,36193.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10332,Comoros,1899,COM,84649.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.166560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.154604,1.003631,0.049794,0.588238,0.062293,0.735898,0.004575,0.054051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001278,NaN,NaN,NaN,NaN,0.001125,NaN,NaN,0.000755,5.414703e-07,3.479190e-07,9.589529e-07,6.956363e-08,0.084956,0.013087,NaN,NaN
3215,Asia (excl. China and India),1836,NaN,NaN,NaN,0.0,0.0,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.009457,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,0.000342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18661,Greece,1916,GRC,5600243.0,8.583009e+09,NaN,NaN,0.065952,0.043968,200.0,11.423765,-0.044775,-0.390416,2.03987,1.330974,NaN,0.011777,0.007684,NaN,0.065952,0.011777,NaN,NaN,NaN,NaN,11.662512,481.369843,11.662512,NaN,0.0,845.505371,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.307416,2.042501,11.357813,2.028093,4.799208,0.856964,0.908724,0.162265,0.0,0.0,NaN,NaN,NaN,NaN,0.00194,0.143848,0.002103,NaN,0.012954,0.14365,0.013497,NaN,0.0,0.338681,0.0,NaN,NaN,0.0,0.250098,0.0,NaN,0.154390,1.112914e-04,1.872131e-04,3.173530e-04,1.884861e-05,11.438501,1.721607,NaN,NaN
30230,Monaco,1867,MCO,13926.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.003517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000007,NaN,NaN,NaN,NaN,0.000003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [313]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50411 entries, 0 to 50410
Data columns (total 79 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    50411 non-null  object
 1   year                                       50411 non-null  int64
 2   iso_code                                   42480 non-null  object
 3   population                                 41167 non-null  float64
 4   gdp                                        15251 non-null  float64
 5   cement_co2                                 29173 non-null  float64
 6   cement_co2_per_capita                      25648 non-null  float64
 7   co2                                        29384 non-null  float64
 8   co2_growth_abs                             27216 non-null  float64
 9   co2_growth_prct                            26239 non-null  float64
 10  co2_including_luc                          23796 non-null  float64
 11  co2_including_luc_growth_abs               23496 non-null  float64
 12  co2_including_luc_growth_prct              23496 non-null  float64
 13  co2_including_luc_per_capita               23757 non-null  float64
 14  co2_including_luc_per_gdp                  16790 non-null  float64
 15  co2_including_luc_per_unit_energy          10020 non-null  float64
 16  co2_per_capita                             26509 non-null  float64
 17  co2_per_gdp                                17528 non-null  float64
 18  co2_per_unit_energy                        10699 non-null  float64
 19  coal_co2                                   21925 non-null  float64
 20  coal_co2_per_capita                        21314 non-null  float64
 21  consumption_co2                            5053 non-null   float64
 22  consumption_co2_per_capita                 4643 non-null   float64
 23  consumption_co2_per_gdp                    4448 non-null   float64
 24  cumulative_cement_co2                      29151 non-null  float64
 25  cumulative_co2                             27563 non-null  float64
 26  cumulative_co2_including_luc               23796 non-null  float64
 27  cumulative_coal_co2                        21925 non-null  float64
 28  cumulative_flaring_co2                     16111 non-null  float64
 29  cumulative_gas_co2                         18147 non-null  float64
 30  cumulative_luc_co2                         37450 non-null  float64
 31  cumulative_oil_co2                         25458 non-null  float64
 32  cumulative_other_co2                       3254 non-null   float64
 33  energy_per_capita                          10459 non-null  float64
 34  energy_per_gdp                             7787 non-null   float64
 35  flaring_co2                                16174 non-null  float64
 36  flaring_co2_per_capita                     14910 non-null  float64
 37  gas_co2                                    18147 non-null  float64
 38  gas_co2_per_capita                         17446 non-null  float64
 39  ghg_excluding_lucf_per_capita              35842 non-null  float64
 40  ghg_per_capita                             36179 non-null  float64
 41  land_use_change_co2                        37450 non-null  float64
 42  land_use_change_co2_per_capita             36635 non-null  float64
 43  methane                                    38150 non-null  float64
 44  methane_per_capita                         36179 non-null  float64
 45  nitrous_oxide                              38500 non-null  float64
 46  nitrous_oxide_per_capita                   36439 non-null  float64
 47  oil_co2                                    25459 non-null  float64
 48  oil_co2_per_capita                         24722 non-null  float64
 49  other_co2_per_capita                       2659 non-null   float64
 50  other_industry_co2                         3254 non-null   float64
 51  primary_energy_consumption                 10503 non-null  float64
 52  share_global_cement_co2                    22270 non-null  float64
 53  share_global_co2                           27563 non-null  float64
 54  share_global_co2_including_luc             23796 non-null  float64
 55  share_global_coal_co2                      21925 non-null  float64
 56  share_global_cumulative_cement_co2         22270 non-null  float64
 57  share_global_cumulative_co2                27563 non-null  float64
 58  share_global_cumulative_co2_including_luc  23796 non-null  float64
 59  share_global_cumulative_coal_co2           21925 non-null  float64
 60  share_global_cumulative_flaring_co2        11089 non-null  float64
 61  share_global_cumulative_gas_co2            15167 non-null  float64
 62  share_global_cumulative_luc_co2            37450 non-null  float64
 63  share_global_cumulative_oil_co2            23833 non-null  float64
 64  share_global_cumulative_other_co2          2170 non-null   float64
 65  share_global_flaring_co2                   11089 non-null  float64
 66  share_global_gas_co2                       15167 non-null  float64
 67  share_global_luc_co2                       37450 non-null  float64
 68  share_global_oil_co2                       23833 non-null  float64
 69  share_global_other_co2                     2170 non-null   float64
 70  share_of_temperature_change_from_ghg       41238 non-null  float64
 71  temperature_change_from_ch4                38280 non-null  float64
 72  temperature_change_from_co2                41238 non-null  float64
 73  temperature_change_from_ghg                41238 non-null  float64
 74  temperature_change_from_n2o                38280 non-null  float64
 75  total_ghg                                  38150 non-null  float64
 76  total_ghg_excluding_lucf                   37813 non-null  float64
 77  trade_co2                                  4712 non-null   float64
 78  trade_co2_share                            4712 non-null   float64
dtypes: float64(76), int64(1), object(2)
memory usage: 30.4+ MB

In [314]:
df = df.loc[:, ["year",
                "iso_code",
                "country",
                "energy_per_capita",
                "energy_per_gdp",
                "coal_co2",
                "oil_co2",
                "gas_co2",
                "cement_co2",
                "gdp",
                "population",
                "land_use_change_co2",
                "flaring_co2",
                "consumption_co2",
                "trade_co2_share",
                "other_industry_co2"
                ]]
df.sample(5)

,year,iso_code,country,energy_per_capita,energy_per_gdp,coal_co2,oil_co2,gas_co2,cement_co2,gdp,population,land_use_change_co2,flaring_co2,consumption_co2,trade_co2_share,other_industry_co2
20850,1930,HND,Honduras,NaN,NaN,0.006820,NaN,NaN,0.0,2.281900e+09,1022849.0,30.390829,NaN,NaN,NaN,NaN
6304,1815,BOL,Bolivia,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1042499.0,NaN,NaN,NaN,NaN,NaN
27658,1849,MAC,Macao,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18656,1911,GRC,Greece,NaN,NaN,0.905008,0.0,0.0,NaN,1.730200e+10,5406242.0,11.789726,NaN,NaN,NaN,NaN
9811,1902,CHN,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,400101986.0,243.178772,NaN,NaN,NaN,NaN

In [315]:
df.isna().sum()

year                       0
iso_code                7931
country                    0
energy_per_capita      39952
energy_per_gdp         42624
coal_co2               28486
oil_co2                24952
gas_co2                32264
cement_co2             21238
gdp                    35160
population              9244
land_use_change_co2    12961
flaring_co2            34237
consumption_co2        45358
trade_co2_share        45699
other_industry_co2     47157
dtype: int64

In [316]:
df = df.dropna(subset=['population','gdp','coal_co2','oil_co2','gas_co2','cement_co2'], how='all')

In [317]:
#missing for fuel and emmission often mean near 0 so replace by 0

fuel_cols = ['coal_co2','oil_co2','gas_co2','cement_co2','energy_per_capita','energy_per_gdp','land_use_change_co2','flaring_co2', "consumption_co2", "trade_co2_share", "other_industry_co2"]
df[fuel_cols] = df[fuel_cols].fillna(0)

df[['gdp','population']] = df[['gdp','population']].fillna(df[['gdp','population']].median())

In [318]:
df["country"].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Asia', 'Asia (excl. China and India)',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe',
       'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'European Union (27)', 'European Union (28)', 'Faroe Islands',
       'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High-income countries', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International aviation',
       'International shipping', 'Iran', 'Iraq', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kosovo', 'Kuwait', 'Kuwaiti Oil Fires (GCP)',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North America (excl. USA)', 'North Korea',
       'North Macedonia', 'Norway', 'Oceania', 'Oman', 'Pakistan',
       'Palau', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Ryukyu Islands (GCP)', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [319]:
df_clean = df[df['iso_code'].str.fullmatch(r'[A-Z]{3}', na=False)].reset_index(drop=True)

print('Rows after filter:', len(df_clean))
print('Unique countries after filter:', df_clean['country'].nunique())

Rows after filter: 40725
Unique countries after filter: 218

In [ ]:
# Create total CO2 column as sum of component sources
co2_components = [
    'coal_co2', 'oil_co2', 'gas_co2', 'cement_co2',
    'land_use_change_co2', 'flaring_co2', 'consumption_co2', 'other_industry_co2'
]

co2_fossils = [
    'coal_co2', 'oil_co2', 'gas_co2', 'cement_co2'
]

# fill missing components with 0 and sum
df_clean['co2_total'] = df_clean[co2_components].fillna(0).sum(axis=1)
df_clean['co2_fossils'] = df_clean[co2_fossils].fillna(0).sum(axis=1)

In [321]:
min_year = 1950
max_year = 2022

df_clean = df_clean[(df_clean['year'] >= min_year) & (df_clean['year'] <= max_year)].reset_index(drop=True)

In [322]:
excel_file = pd.ExcelFile(path_to_file + '/IRENA_Stats_extract_2025 H1.xlsx')
print("Available sheets:", excel_file.sheet_names)

Available sheets: ['About', 'Country', 'Region', 'Global']

In [323]:
df_sheet1 = pd.read_excel(path_to_file + '/IRENA_Stats_extract_2025 H1.xlsx', sheet_name='Country')

df_sheet1.sample(5)

,Region,Sub-region,Country,ISO3 code,M49 code,RE or Non-RE,Group Technology,Technology,Sub-Technology,Producer Type,Year,Electricity Installed Capacity (MW)
7397,Americas,Latin America and the Caribbean,Argentina,ARG,32,Total Renewable,Bioenergy,Solid biofuels,Bagasse,On-grid electricity,2008,62.857
13878,Americas,Latin America and the Caribbean,Puerto Rico,PRI,630,Total Renewable,Bioenergy,Biogas,Landfill gas,On-grid electricity,2023,4.800
15684,Americas,Northern America,United States of America (the),USA,840,Total Non-Renewable,Fossil fuels,Natural gas,Natural gas,On-grid electricity,2013,426675.700
460,Africa,Northern Africa,Morocco,MAR,504,Total Non-Renewable,Fossil fuels,Coal and peat,Coal and peat,On-grid electricity,2010,1785.000
35637,Europe,Western Europe,Switzerland,CHE,756,Total Renewable,Hydropower (excl. Pumped Storage),Renewable hydropower,Renewable hydropower,On-grid electricity,2012,3882.000

In [324]:
df_sheet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38381 entries, 0 to 38380
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Region                               38381 non-null  object
 1   Sub-region                           38381 non-null  object
 2   Country                              38381 non-null  object
 3   ISO3 code                            38381 non-null  object
 4   M49 code                             38381 non-null  int64
 5   RE or Non-RE                         38381 non-null  object
 6   Group Technology                     38381 non-null  object
 7   Technology                           38381 non-null  object
 8   Sub-Technology                       38381 non-null  object
 9   Producer Type                        38381 non-null  object
 10  Year                                 38381 non-null  int64
 11  Electricity Installed Capacity (MW)  38381 non-null  float64
dtypes: float64(1), int64(2), object(9)
memory usage: 3.5+ MB

In [325]:
df_sheet1.columns = df_sheet1.columns.str.strip()

df_sheet1 = df_sheet1.drop(columns=['Region', 'Sub-region', 'Producer Type', 'Sub-Technology', 'Technology', 'M49 code'], errors='ignore')

df_sheet1 = df_sheet1[df_sheet1['RE or Non-RE'] != 'Total Non-Renewable']

df_sheet1.sample(5)

,Country,ISO3 code,RE or Non-RE,Group Technology,Year,Electricity Installed Capacity (MW)
33604,Austria,AUT,Total Renewable,Wind energy,2020,3225.979
451,Libya,LBY,Total Renewable,Solar energy,2024,6.333
24403,Lebanon,LBN,Total Renewable,Solar energy,2017,36.183
26408,Poland,POL,Total Renewable,Bioenergy,2019,52.000
31275,Greece,GRC,Total Renewable,Solar energy,2004,1.000

In [326]:
df_sheet1.isna().sum()

Country                                0
ISO3 code                              0
RE or Non-RE                           0
Group Technology                       0
Year                                   0
Electricity Installed Capacity (MW)    0
dtype: int64

In [327]:
df_sheet1 = df_sheet1.rename(columns={"ISO3 code": "iso_code", "Year": "year"})

df_merged = pd.merge(df_sheet1, df_clean, on=['iso_code', 'year'], how='right')

df_merged.to_csv("../Data/clean_data.csv", index=False)

In [328]:
df_merge = pd.read_csv("../Data/clean_data.csv", encoding="utf-8")
china_2022 = df_merge[(df_merge["country"] == "China") & (df_merge["year"] == 2022)]
print("rows:", len(china_2022))
print(china_2022[["iso_code","year","co2_total"]].to_string(index=False))
print("sum:", china_2022["co2_total"].sum(), "mean:", china_2022["co2_total"].mean(), "min/max:", china_2022["co2_total"].min(), china_2022["co2_total"].max())

rows: 12
iso_code  year    co2_total
     CHN  2022 21841.150555
     CHN  2022 21841.150555
     CHN  2022 21841.150555
     CHN  2022 21841.150555
     CHN  2022 21841.150555
     CHN  2022 21841.150555
     CHN  2022 21841.150555
     CHN  2022 21841.150555
     CHN  2022 21841.150555
     CHN  2022 21841.150555
     CHN  2022 21841.150555
     CHN  2022 21841.150555
sum: 262093.8066558838 mean: 21841.150554656982 min/max: 21841.150554656982 21841.150554656982